html {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    
}

h1 {
    font-size: 2rem;
    
    text-align: center;
}

h2 {

    text-align: center;
}

p {
    margin-left:2%;
    margin-right:2%; 
    border-style: double;
    border-color: white;
    padding: 5px;
}

table {
    max-width: 100%;
}

img {
    width: 400px;
    height: 80%;
    margin-left: 30%;
    padding: 5px;
}

